body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header h1 {
    text-align: center;
    color: #c40000;
}

.titulo-secundario {
    text-align: center;
    margin-top: 40px;
    color: #111;
}

.descripcion {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.datos {
    margin-top: 40px;
    text-align: center;
}

.datos ul {
    list-style: none;
    padding: 0;
}

.datos li {
    margin: 10px 0;
}

.meme {
    text-align: center;
    margin-top: 40px;
}

.meme img {
    width: 300px;
}
